* {
    font-family: "Terminess Nerd Font Mono", monospace;
    font-size: 15px;
    background-color: transparent;
}

#workspaces button.active {
    /* background-color: darkslateblue; */
    background-color: #2783AE;
}

#pulseaudio.muted {
    color: yellow;
}

#battery.warning {
    color: red;
    font-weight: bold;
}
